@import url('https://fonts.googleapis.com/css?family=Roboto');

.clusters-list-overlay {
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.cluster-details-title {
  padding: 0 15px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color0);
}

.select-text-overlay-scheduler {
  width: 95%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.enable-text-label {
  width: 60%;
}

.btn-refresh {
  line-height: 5;
}

.btn-refresh-text {
  font-size: 12px !important;
}

.vertex-list-table-parent {
  overflow: auto;
}
