@import url('https://fonts.googleapis.com/css?family=Roboto');

.select-text-overlay-scheduler {
  width: 95%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.select-panel-list {
  width: 100%;
  display: flex;
}

.select-panel-list-view-lay {
  max-width: 294px;
}

.table-space-around {
  padding: 0 10px;
}

.table-data {
  padding-left: 15px;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.actions-icon-btn {
  display: flex;
}

.edit-icon-buttons-display {
  display: none;
}

.submit-button-disable-style {
  margin-right: 10px;
  background: var(--jp-layout-color0);
  color: var(--jp-ui-font-color2);
  height: 30px;
  font-size: 13px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
}

.pagination-parent-view {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* Adjust spacing between elements */
  gap: 1rem;

  /* Add some padding around the component */
  padding: 0.5rem;
}

.no-data-style {
  margin: 10px 15px;
}

.icon-buttons-style {
  cursor: pointer;
  padding-right: 5px;
}

.import-error-parent {
  margin-top: 12px;
}

.import-error-accordion-button {
  background-color: #f2dede;
  color: #e43921;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  padding: 10px;
  color: #e43921;
}

.accordion-section {
  background: #f2dede;
  margin: 10px 0;
}

.accordion-title {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e43921;
}

.filename {
  flex: 1;
}

.timestamp {
  margin-left: 10px;
  margin-right: 10px;
}

.logo-alignment-style-accordion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
