@import url('https://fonts.googleapis.com/css?family=Roboto');

.list-vertex-title {
  padding: 0 15px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color0);
}

.select-text-overlay-scheduler {
  width: 95%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.enable-text-label {
  width: 60%;
}

.btn-refresh {
  line-height: 5;
}

.btn-refresh-text {
  font-size: 12px !important;
}

.vertex-list-table-parent {
  overflow: auto;
}

.actions-icon-btn {
  display: flex;
}

.disable-complete-btn {
  padding: 0 !important;
}

.scroll-list {
  overflow: auto;
  height: calc(100vh - 298px);
}

.scheduler-table-data {
  padding-left: 15px;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.table-cell-overflow {
  min-width: 25%;
  max-width: 12%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.success_icon {
  padding-right: 5px;
}

.icon-size {
  width: 14px;
}

.icon-completed {
  padding-top: 4px;
}

.icon-size-status {
  width: 12px;
}

.cell-width-listing {
  max-width: 300px;
}

.text-icon {
  line-height: 2;
}
